<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing office</h1>

  <%= render "form", office: @office %>

  <%= link_to "Show this office", @office, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to offices", offices_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
