<div class="mx-auto w-full max-w-7xl grow lg:flex xl:px-2">
  <div class="flex-1 xl:flex">
    <div class="px-4 py-6 sm:px-6 lg:pl-8 xl:flex-1 xl:pl-6 bg-slate-100">
      <%= render @listing %>
    </div>
  </div>
  <div class="shrink-0 border-t border-gray-200 px-4 py-6 sm:px-6 lg:w-96 lg:border-l lg:border-t-0 lg:pr-8 xl:pr-6">
    <%# render "vertical_search_form" %>
    contact form
    fixme add featured rentals or similar rentals
  </div>
</div>
