<p class="mt-2 text-sm leading-6 text-gray-500">
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "font-semibold text-indigo-600 hover:text-cyan-500" %><br />
  <% end %>
</p>
