<% current_locale = I18n.locale %>
<div class="relative inline-block text-left">
  <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white bg-sky-700 hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800" type="button"><%= t(current_locale) %> <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
    </svg>
  </button>
  <!-- Dropdown menu -->
  <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
      <% (I18n.available_locales - [current_locale]).each do |locale| %>
        <% query_params = params.except(:locale).permit!.to_h %>
        <% locale_path = url_for(locale: locale.to_s, **query_params) %>
        <li>
          <%= link_to(locale_path, class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white", role: "menuitem", tabindex: "-1", id: "menu-item-0", '@click': 'open = false') do %>
            <span class="text-gray-400 group-hover:text-gray-500"><%= t(locale) %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
