<% current_locale = I18n.locale %>
<div class="relative inline-block text-left" data-controller="drop">
  <button type="button" data-action="click->drop#toggle" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-2 py-1 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"><span class="text-gray-400 group-hover:text-gray-500"><%= t(current_locale) %></span>
    <svg x-bind:class="{ 'transform rotate-180': isOpen }" class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
    </svg>
  </button>
  <div
    data-drop-target="menu"
    class="absolute right-0 z-10 mt-2 w-full origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden">
    <% (I18n.available_locales - [current_locale]).each do |locale| %>
      <% query_params = params.except(:locale).permit!.to_h %>
      <% locale_path = url_for(locale: locale.to_s, **query_params) %>
      <%= link_to(locale_path, class: "text-gray-700 group flex items-center px-4 py-2 text-sm", role: "menuitem", tabindex: "-1", id: "menu-item-0", data: { action: "drop#select" }) do %>
        <span class="text-gray-400 group-hover:text-gray-500"><%= t(locale) %></span>
      <% end %>
    <% end %>
  </div>
</div>
