<div class="relative">
  <header class="relative flex items-center justify-center h-96 mb-3 overflow-hidden">
    <video autoplay loop muted class="absolute z-10 w-auto h-auto min-w-full min-h-full max-w-none">
      <source src="https://res.cloudinary.com/dblfbrnnb/video/upload/v1704185000/immo_d7z9p7.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </header>
  <div class="container mx-auto p-4 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 p-5 text-2xl bg-white bg-opacity-50 rounded-xl lg:w-auto">
    <%= render 'shared/search' %>
  </div>
</div>
