<section class="container-fluid my-5 pt-5 pb-lg-4 px-xxl-4">
  <div
    class="card align-items-center justify-content-center border-0 p-md-5 p-4 bg-secondary mt-n3"
    style="background-image: url('<%= asset_url("real-estate/hero-image-v2.jpg") %>'); background-size: cover; background-position: center;"
  >
    <span class="img-overlay opacity-40"></span>
    <div class="content-overlay" style="max-width: 856px">
      <h1 class="display-5 mb-5 pb-md-3 px-md-3 text-white text-center">
        Easy way to find a perfect property
      </h1>
      <%= render 'shared/search' %>
    </div>
  </div>
</section>
