<section class="container-fluid my-5 pt-5 pb-lg-4 px-xxl-4">
  <div
    class="card align-items-center justify-content-center border-0 p-md-5 p-4 bg-secondary mt-n3"
    style="background-image: url('https://res.cloudinary.com/dblfbrnnb/image/upload/v1/production/cwm2hmbv5owecv3vc117wc12ftg7.jpg'); background-size: cover; background-position: center;"
  >
    <span class="img-overlay opacity-40"></span>
    <div class="content-overlay" style="max-width: 856px">
      <h1 class="display-5 mb-5 pb-md-3 px-md-3 text-white text-center">
        <%= t('real_estate_solutions') %>
      </h1>
      <%= render 'shared/search' %>
    </div>
  </div>
</section>
