<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
      <div class="mx-auto w-full max-w-xl lg:mx-0">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900">Sobre Nosotros</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">Sistach Finques actualmente cuenta con 2 oficinas, en Barcelona y Estartit. En nuestro equipo destaca la experiencia de a침os de trabajo bien hecho y la ilusi칩n por alcanzar nuevos objetivos. M치s de 10 a침os ofreciendo nuestros servicios nos consolidan como una agencia inmobiliaria de referencia en la Costa Brava.</p>
        <div class="mt-8 flex items-center gap-x-6">
          <a href="#" class="rounded-md bg-sky-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-sky-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600">Create account</a>
          <a href="#" class="text-sm font-semibold text-gray-900">Contact us <span aria-hidden="true">&rarr;</span></a>
        </div>
      </div>
      <div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-12 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:pl-8">
        <%= image_tag("logo-colegiat.png", class: "max-h-12 w-full object-contain object-left", alt: "Sistach Finques Colegiat") %>
        <%= image_tag("logo-api.png", class: "max-h-12 w-full object-contain object-left", alt: "Sistach Finques Api") %>
        <%= image_tag("logo-apartur.png", class: "max-h-12 w-full object-contain object-left", alt: "Sistach Finques Colegiat Api") %>
        <img class="max-h-12 w-full object-contain object-left" src="https://tailwindui.com/img/logos/reform-logo-gray-900.svg" alt="Reform" width="104" height="48">
      </div>
    </div>
  </div>
</div>
