      <!-- Property cost calculator-->
<section class="container mb-5 pb-2 pb-lg-4">
  <div class="row align-items-center">
    <div class="col-md-5">
      <%= image_tag "real-estate/illustrations/calculator.svg", class: "d-block mx-md-0 mx-auto mb-md-0 mb-4", width: "416", alt: "Calculator" %>
    </div>
    <div class="col-xxl-6 col-md-7 text-md-start text-center">
      <h2>Сalculate the cost of your property</h2>
      <p class="pb-3 fs-lg">Real estate appraisal is a procedure that allows you to determine the average market value of real estate (apartment, house, land, etc.). Сalculate the cost of your property with our new Calculation Service.</p>
      <a class="btn btn-lg btn-primary" href="#cost-calculator" data-bs-toggle="modal"><i class="fi-calculator me-2"></i>Calculate</a>
    </div>
  </div>
</section>
